.container{
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.file-input{
  margin: 20px 0;
}
